{{!-- this is hte fifth page(5) for new property no --}}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{{!-- <form class="form-vertical">
    <div class="container-2" id="pro-reg">
      <h1>PROPERTY REGISTRATION</h1>
    </div>
</form> --}}
<div class="container-new">
     {{!-- <button type="submit" id="btn">Submit</button>  --}}
    <lable for="Number" id="pro-No"><b>New Property Registration Number:</b></lable>
   
  </div>
<div class="container">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4" id="first"style="background-color:Lightgrey;">
    
      <h1 style="font-family:cursive;">CurrentOwner</h1><br>
      <lable for="name" ><b>Name:</b></lable><br><br><br>
      {{!-- <input type="text" id="nm" placeholder="Enter Name" name="Name" required> --}}
      {{!-- 
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <lable for="psw" ><b>Password</b></lable>
      <input type="Password" name="password" required>  --}}
      <lable for="Address"><b>Address</b></lable><br><br><br>
      
      <lable for="Land Details"><b>Land Details:</b></lable><br><br><br>
      
      <lable for="Documents"><b>Documents:</b></lable><br><br><br>
    </div>



    <div class="col-sm-4 " id="second"style="background-color:Lightgrey;">
      {{!-- <div class="col-sm-4 col-sm-pull-1" id="second"style="background-color:lightblue;"></div> --}}
        
      <h1 style="font-family:cursive;">NewOwner</h1><br>
      <lable for="name" ><b>Name:</b></lable><br><br><br>
       <lable for="Address"><b>Address</b></lable><br><br><br>
      
      <lable for="Land Details"><b>Land Details:</b></lable><br><br><br>
      
      <lable for="Documents"><b>Documents:</b></lable><br><br><br>
    </div>

</div>
</div>



</body>
</html>
{{outlet}}